.formdatalis {
  color: white;
}

.ant-form-item-label > label {
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

.ant-radio-wrapper {
  color: white;
}

.radio_btn_antd {
  margin-bottom: 20px;
}

.circleimg {
  position: absolute;
  left: 0px;
  /* bottom: 0; */
  margin-top: 22px;
  z-index: 1;
  /* transform: scale(0.9); */
}

.alert_form {
  z-index: 200;
}

.form-view {
  /* overflow: scroll; */
  z-index: 10;
}

.loader_form {
  height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
  position: absolute;
  color: #0ed470;
  text-shadow: none;
  font-size: 18px;
  font-weight: 500;
}

.ant-spin-dot-item {
  background-color: #0ed470;
}

.ant-spin-nested-loading {
  background: rgba(0, 0, 0, 0);
}

.ant-spin-nested-loading > div > .ant-spin {
  /* top: 126px; */
  height: 100vh;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #0ed470 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #0ed470;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #0ed470;
}

.div-head {
  overflow-y: hidden !important;
}
